<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to ADAEQUARE News Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
      <div class="container" align='center'>
        <h1 align='center' class="display-4">WELCOME TO ADAEQUARE NEWS EDITOR</h1>
        <p class="lead" align='center'>CONTINUOUS NEWS UPDATE FOR EVERY MINUTE</p>
        <hr class="my-3">
        <center>
          {% block content %}

          {% endblock %}
        </center>
      </div>
  </body>
</html>