<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
  </head>

  <body style="">
    <script type="text/javascript">
    function buildhtml(news){
      htmlblock = ""
      for (var i=0; i<news.length; i++){
        htmlblock += "<tr><td><b><h2 style='color:black' class='display-6'>"+news[i].news_header+
        "</h2></b><table><tr>"
        if (news[i].news_images_urls != null){
          htmlblock += "<td><img src="+news[i].news_images_urls+
          "/></td>"
        }
        htmlblock += "<td style='color:white'>"+news[i].news_data+"</td></tr></table></td></tr>"
      }
      return htmlblock;
    }
    function getnews(news_type){
      console.log(news_type);
      $.ajax({
        type:'GET',
        url :"news?news_type=" + news_type,
        success:function(response){
          console.log("success",response.news)
          document.getElementById("NewsContainer").innerHTML = "<table align='center' style='width:100%'>"+buildhtml(response.news)+"</table>";
          },
        error:function(error){
          console.log("error",error);
        }
      })
    }
    </script>
    <div class='center' style="color:black">
      <br>
      <h1 class="display-4" style="color:white"><b>WELCOME TO ADAEQUARE NEWS PORTAL</b></h1>
      <p class="lead" style="color:white">CONTINUOUS NEWS UPDATE FOR EVERY MINUTE</p>
      <hr class="my-3">
      {% if news_list %}
       {% for news in news_list %}
        <a class="btn btn-dark btn-lg" href='#' role="button" id="createbutton" onclick=getnews('{{news.news_type}}')><b>{{news.new_type_display}}</b></a>&nbsp;&nbsp;
       {% endfor %}
      {% else %}
        <p>No records found!!!!!!!!!!!</p>
      {% endif %}
      <br><br>
      <div id="NewsContainer"></div>
      <p style="color:yellow">These are the news updates that we are having from database</p>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
  </body>
</html>
